---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Industrial Boiler Systems" activeNav="about">
    <section class="hero">
    <div class="container">
        <h2>Your Partner for Industrial Boiler System Planning and Design</h2>
        <p>Innovative solutions for the chemical, non-ferrous and environmental industry</p>
    </div>
</section>

    <section class="about">
        <div class="container">
            <h2>About Albrecht Indutherm</h2>
            <p>Albrecht Indutherm is a global company with a focus on the planning and design of industrial boiler systems for the chemical, non-ferrous and environmental industry.</p>

            <p>Our high qualified engineers have many years of in-depth knowledge of boiler design and stand for customer-oriented planning of highly efficient, reliable and economical boiler systems.</p>

            <p>Our technologies are tailored to the customer's technical requirements. The boiler systems are designed with the most modern software systems and comply with the officially required and valid regulations and technical standards.</p>

            <p>As an innovative expert for heat recovery in industrial plants, we make an important contribution to energy saving and environmental protection.</p>

            <div class="info-box">
                <h3>Headquarter</h3>
                <p>Germany, Dortmund</p>
            </div>
        </div>
    </section>
</Layout>
