---
---

<footer class="relative pt-16 pb-12 sm:pt-24 sm:pb-16">
    <div class="text-sm">
        <p>&copy; 2021-<span id="current-year"></span> Albrecht Indutherm GmbH / All rights reserved</p>
        <p>Registered Office: Dortmund | District Court: Amtsgericht Dortmund, HRB 36085 | UID: DE342180980</p>
        <p>Managing Director: Dipl.-Ing. Andreas Albrecht</p>
    </div>
    <p class="absolute bottom-4 right-4 text-sm">
        <a href="/impressum" class="text-primary hover:underline">Impressum</a>
    </p>
</footer>
